In [2]:
import pandas as pd
import numpy as np
import os

In [11]:
# Note: Download and copy dataset xlsx file to data folder since repository would not include it.
# Ensuring different operating systems could parse filepath properly

current_dir = os.path.abspath('')
parent_dir = os.path.dirname(current_dir)
# data_dir = os.path.join(parent_dir, 'data')
# dataset_dir = os.path.join(data_dir, 'file.xlsx')
print(current_dir)

c:\Users\jrdor\OneDrive\Desktop\LT2_DMW_Kmeans_shopping

In [35]:
columns = ['CustomerID', 'Gender', 'Location', 'Tenure_Months', 'Transaction_ID',
           'Transaction_Date', 'Product_SKU', 'Product_Description', 'Product_Category',
           'Quantity', 'Avg_Price', 'Delivery_Charges', 'Coupon_Status',
           'GST', 'Date', 'Offline_Spend', 'Month', 'Coupon_Code', 'Discount_pct']
shopping_data = pd.read_excel('data/file.xlsx', usecols=columns, parse_dates=['Transaction_Date', 'Date'])

In [36]:
# 
shopping_data.isna().sum()

CustomerID              31
Gender                  31
Location                31
Tenure_Months           31
Transaction_ID          31
Transaction_Date        31
Product_SKU             31
Product_Description     31
Product_Category         0
Quantity                31
Avg_Price               31
Delivery_Charges        31
Coupon_Status           31
GST                     31
Date                    31
Offline_Spend           31
Month                    0
Coupon_Code            400
Discount_pct           400
dtype: int64

In [37]:
# drop na values for CustomerID
shopping_data.dropna(subset=['CustomerID'], inplace=True)

In [40]:
# verify na values if acceptable
shopping_data.isna().sum()

CustomerID               0
Gender                   0
Location                 0
Tenure_Months            0
Transaction_ID           0
Transaction_Date         0
Product_SKU              0
Product_Description      0
Product_Category         0
Quantity                 0
Avg_Price                0
Delivery_Charges         0
Coupon_Status            0
GST                      0
Date                     0
Offline_Spend            0
Month                    0
Coupon_Code            400
Discount_pct           400
dtype: int64

In [41]:
shopping_data

,CustomerID,Gender,Location,Tenure_Months,Transaction_ID,Transaction_Date,Product_SKU,Product_Description,Product_Category,Quantity,Avg_Price,Delivery_Charges,Coupon_Status,GST,Date,Offline_Spend,Month,Coupon_Code,Discount_pct
0,17850.0,M,Chicago,12.0,16679.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,1.0,153.71,6.5,Used,0.10,2019-01-01,4500.0,1,ELEC10,10.0
1,17850.0,M,Chicago,12.0,16680.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,1.0,153.71,6.5,Used,0.10,2019-01-01,4500.0,1,ELEC10,10.0
2,17850.0,M,Chicago,12.0,16696.0,2019-01-01,GGOENEBQ078999,Nest Cam Outdoor Security Camera - USA,Nest-USA,2.0,122.77,6.5,Not Used,0.10,2019-01-01,4500.0,1,ELEC10,10.0
3,17850.0,M,Chicago,12.0,16699.0,2019-01-01,GGOENEBQ079099,Nest Protect Smoke + CO White Battery Alarm-USA,Nest-USA,1.0,81.50,6.5,Clicked,0.10,2019-01-01,4500.0,1,ELEC10,10.0
4,17850.0,M,Chicago,12.0,16700.0,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,1.0,153.71,6.5,Clicked,0.10,2019-01-01,4500.0,1,ELEC10,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52919,13155.0,F,California,8.0,22504.0,2019-03-10,GGOEGGCX056399,Gift Card - $250.00,Gift Cards,1.0,250.00,0.0,Clicked,0.05,2019-03-10,2500.0,3,GC30,30.0
52920,18077.0,M,Chicago,34.0,24250.0,2019-03-28,GGOEGGCX056299,Gift Card - $25.00,Gift Cards,1.0,25.00,0.0,Used,0.05,2019-03-28,2000.0,3,GC30,30.0
52921,16085.0,M,California,15.0,39991.0,2019-10-06,GGOEGOCD078399,Google Leather Perforated Journal,Notebooks & Journals,1.0,10.80,6.0,Clicked,0.05,2019-10-06,3000.0,10,NJ10,10.0
52922,16085.0,M,California,15.0,39991.0,2019-10-06,GGOEGOCR078499,Google Spiral Leather Journal,Notebooks & Journals,1.0,9.60,6.0,Used,0.05,2019-10-06,3000.0,10,NJ10,10.0
52923,13659.0,F,Chicago,8.0,39998.0,2019-10-06,GGOEGOCC077999,Google Spiral Journal with Pen,Notebooks & Journals,1.0,5.59,6.5,Not Used,0.05,2019-10-06,3000.0,10,NJ10,10.0

In [39]:
# Info of categorical data
shopping_data.describe(exclude = [np.number, 'datetime64'])

,Gender,Location,Product_SKU,Product_Description,Product_Category,Coupon_Status,Coupon_Code
count,52924,52924,52924,52924,52924,52924,52524
unique,2,5,1145,404,20,3,45
top,F,Chicago,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Apparel,Clicked,SALE20
freq,33007,18380,3511,3511,18126,26926,6373

In [44]:
# View categoris
unique_product_categories = shopping_data['Product_Category'].unique()
print(unique_product_categories)

['Nest-USA' 'Office' 'Apparel' 'Bags' 'Drinkware' 'Lifestyle' 'Waze'
 'Headgear' 'Fun' 'Notebooks & Journals' 'Google' 'Nest-Canada' 'Bottles'
 'Gift Cards' 'More Bags' 'Backpacks' 'Housewares' 'Android' 'Nest'
 'Accessories']